doctype html
html
    head
        title
        link(rel='stylesheet', href='/stylesheets/foundation.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/webicons.css')
    body
        .top-bar
            .top-bar-left
                ul.dropdown.menu(data-dropdown-menu='')
                    li.menu-text PakeApi
                    li
                        a(href='/') Home
                    li
                        a(href='/pokemons') Pokemon
                    li
                        a(href='/pokemonlocations') Locations
                    li
                        a(href='/apod') Nasa
            .top-bar-right
                ul.menu
                    li
                       if(!user)
                           a(href="/login") Log in
                       if(user)
                           a(href="/logout") Log out
                       if(user && user.role == "admin")
                           a(href="/admin/users") Manage users
                           a(href="/admin/pokemon") Manage Pokemon
                    li
                        if(!user)
                            a(href="/signup") Sign Up
        block content

        script(type='text/javascript', src='/javascript/jquery.js')
        script(type='text/javascript', src='/javascript/foundation.js')
        script(type='text/javascript', src='/javascript/what-input.js')
        script(type='text/javascript', src='/javascript/foundation-datepicker.js')