//
   Created by alhric on 01-Jun-16.
extends layout.jade

block content
        h3= title
            body
                .row
                    .medium-6.medium-centered.large-4.large-centered.columns
                        if message.length
                            span.round.alert.label #{message}
                        form#login_form(action='/login', method='post')
                            .row.column.log-in-form
                                h4.text-center Log in with your email adres
                                label
                                    | Email
                                    input#email(type='text', placeholder='somebody@example.com', name='email')
                                label
                                    | Password
                                    input#password(type='password', placeholder='Password', name='password')
                                p
                                    a#login_button.button.expanded(type='javascript:{}', role='button', onclick='loginfunc()') Log in
                                    script.
                                        function loginfunc() {
                                            console.log(document.getElementById("login_form").submit());
                                        };
                                p.text-center
                                    a(href='/nope') Forgot password? that sucks
                        a.webicon.facebook(href='#') derpaherp
