//
   Created by alhric on 02-Jun-16.

extends layout.pug

block content
        h3= title
            body
                .row
                    .medium-6.medium-centered.large-4.large-centered.columns
                        if message.length
                            span.round.alert.label #{message}
                        form#signup_form(action='/signup', method='post')
                            .row.column.log-in-form
                                h4.text-center Register with your email account
                                label
                                    | Email
                                    input#email(type='text', placeholder='somebody@example.com', name='email')
                                label
                                    | Password
                                    input#password(type='password', placeholder='Password', name='password')
                                p
                                    a#signup_button.button.expanded(type='javascript:{}', role='button', onclick='testfunc()') Register
                                    script.
                                        function testfunc()
                                        {
                                            console.log(document.getElementById("signup_form").submit());
                                        };
                                p.text-center
                                    a(href='login') Already have an account?