//
   Created by alhric on 11-Jun-16.
extends layout.jade

block content
    h3= title
    body
        .row
            .medium-12.large-centered.large-4.large-centered.columns
                p #{planet}
                img(src='#{planetImage}', alt='Mountain View')