extends layout.pug

block content
    h3= title
    body
        .row
            .medium-12.large-centered.large-4.large-centered.columns
                p #{planet}
                img(src=planetImage, alt='http://kingofwallpapers.com/mountain-view/mountain-view-005.jpg')